includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 10
    paths:
        - src
        - tests

    checkExplicitMixed: true
    checkFunctionNameCase: true
    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true

    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - vendor/autoload.php
